@import 'jeet'

edit()

.h1 
  font-size: 3em

.h5
  color: #000

/*
 stylus -u jeet -w style.styl

main
  center(980px, 10px)

  p
    font-size: 24px
    line-height 150%
    color black

// splash
#splash
  position fixed
  width 100%
  height 100%
  background url("/img/splash.jpg") no-repeat top center
  background-size cover
  z-index 99999

  #splash-logo
    center()
    text-align center
    margin-top 5px

  h1, h3
    text-transform uppercase
    center()
    text-align center
    margin-top 5px
    margin-bottom 5px

  h1.heading
    color white
    font-size 250%

  h3.sub-heading
    font-size 140%
    font-family 'Open Sans', sans-serif
    font-weight 100
    color #61555A

  .view-map
    position absolute
    bottom 5%
    text-transform uppercase
    left 46%
    font-size 140%
    color #F8F8F8
    text-decoration none
    display none
    border 2px solid #F8F8F8
    padding 5px 20px
    border-radius 25px

aside
  position: fixed;
  z-index 20
  top 0
  bottom 0
  width 245px
  overflow-y auto
  font-size 2em
  background-color #e6e6e6
  left -245px

  .close
    display block
    padding 25px
    text-align right
    font-size 70%
    a
      font-family entypo

  ul
    list-style-type none
    li a:hover
      color #b8b8b8